@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import "tailwindcss";

* {
  font-family: "Open Sans", sans-serif;
}

li,
p {
  color: #676767;
}

li:hover {
  scale: 120%;
  transition-duration: 4000ms;
}
